.buildCharacter > h1 {
  text-align: center;
}
.buildCharacter > body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.boxwrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#box1 {
  height: 60px;
  line-height: 30px;
  margin-bottom: 20px;
  font-size: 40px;
  vertical-align: center;
  margin-top: 20px;
  padding-top: 10px;
}

#box2 {
  height: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
}
#box3 {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

#AbScorePane {
  flex-grow: 0.3;
  flex-direction: column;
  text-align: center;
  display: table;
  margin-right: 40px;
}

#AbScoreTopBar {
  display: flex;
  flex-direction: row-reverse;
}

#SkillsPane { 
  flex-grow: 0.3;
  flex-direction: column;
  display: table;
  margin-top: 30px;
}

#SkillsTopBar { 
  display: flex;
  flex-direction: row-reverse; 
}

.prof { 
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 5px;
}

.prof-bonus { 
  display: inline-block;
  text-align: right;
  width: 25px; 
  font-weight: bold;
  font-size: large;
}

.skills-list { 
  display: inline-block;
  font-size: 1.1rem;
  margin-left: 5px;
}

.skillsTitle {
  text-align: left;
  margin-bottom: 20px;
  display: inline-block;
  margin-right: 20px;
}

.skills {
  width: 25px;
  font-size: 15px;
  text-align: center;
  background-color: #d2c693;
  margin-bottom: 10px;
  margin-right: 5px;
}

.middle-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.middle-column div {
  flex-grow: 1;
  margin: 0 8px;
}

.middle-column div + div {
  margin-top: 8px;
}

#box5 {
  font-size: 15px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}

#SkillsPane {
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

#box7 {
  flex-grow: 0.6;
  margin-left: 15px;
  text-align: center;
}
#box8 {
  flex-grow: 0.2;
  text-align: center;
}
#box9 {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-self: center;
}

.characterName {
  margin-left: 10px;
  height: 35px;
  width: 300px;
  vertical-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 20px;
  text-align: center;
  background-color: #d2c693;
}

.characterInfo {
  width: 150px;
  font-size: 15px;
  text-align: center;
  background-color: #d2c693;
  margin-right: 30px;
  margin-left: 5px;
}

.characterLevel {
  width: 50px;
  font-size: 15px;
  text-align: center;
  background-color: #d2c693;
  margin-right: 30px;
  margin-left: 5px;
}

.characterExperience {
  width: 50px;
  font-size: 15px;
  text-align: center;
  background-color: #d2c693;
  margin-right: 30px;
  margin-left: 5px;
}
.stats {
  width: 50px;
  font-size: 15px;
  text-align: center;
  background-color: #d2c693;
  margin-bottom: 20px;
}
.statIcon {
  height: 50px;
  width: 50px;
}

.armorClass {
  width: 100px;
  font-size: 15px;
  text-align: center;
  background-color: #d2c693;
  margin-bottom: 20px;
}

.throwsTitle {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.throws {
  width: 25px;
  font-size: 15px;
  text-align: center;
  background-color: #d2c693;
  margin-bottom: 10px;
  margin-right: 5px;
  align-items: left;
}

.equipmentTitle {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.equipment {
  background-color: #d2c693;
  color: black;
  font-size: 20px;
}

.personalityTraits {
  background-color: #d2c693;
  color: black;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.ideals {
  background-color: #d2c693;
  color: black;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.bonds {
  background-color: #d2c693;
  color: black;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.flaws {
  background-color: #d2c693;
  color: black;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.featuresandtraits {
  background-color: #d2c693;
  color: black;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.saveButton {
  width: 200px;
  height: 4vh;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #eda800;
  font-size: 17px;
  text-align: center;
  margin-left: 38.5%;
}

.cancelButton {
  width: 200px;
  height: 4vh;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #eda800;
  font-size: 17px;
  text-align: center;
  align-content: center;
}

.editButton {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
