.title {
  color: #eda800;
  padding-top: 100px;
  padding-left: 580px;
  font-size: 50px;
}

.help > input {
  width: 500px;
  height: 4vh;
  text-align: center;
  margin-top: 50px;
  margin-left: 710px;
  font-size: 25px;
}
.questionsTitle {
  color: #eda800;
  font-size: 30px;
  padding-left: 630px;
  margin-top: 100px;
  margin-left: 140px;
  margin-bottom: 50px;
}

.help > p {
  color: #eda800;
  font-size: 30px;
  margin-top: 20px;
  margin-left: 670px;
}

.help > p:hover {
  color: #af111c;
}

.help > input,
select,
textarea {
  color: #ff0000;
}
