:root {
    --primary: #eda800;
  }
  
  .viewbtn {
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .viewbtn--primary {
    background-color: transparent;
    color: #eda800;
    border: 1px solid var(--primary);
  }
  
  .viewbtn--outline {
    background-color: transparent;
    color: #eda800;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
  }
  
  .viewbtn--medium {
    padding: 8px 20px;
    font-size: 20px;
  }
  
  .viewbtn--large {
    padding: 12px 26px;
    font-size: 20px;
  }
  
  .viewbtn--medium:hover,
  .viewbtn--large:hover {
    background: #242424;
    color: #af111c;
    transition: all 0.3s ease-out;
  }
  
