* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.home,
.inventory,
.tools,
.play,
.community,
.profile,
.help,
.play {
  background-image: url(./components/images/img-7.jpg);
  height: 93vh;
  width: 100%;
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  padding-top: 0px;
  background-repeat: no-repeat;
  background-size: cover;
}

.inventory {
  background-image: url(./components/images/img-3.jpg);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  padding-top: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.tools {
  background-image: url(./components/images/img-2.jpg);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  padding-top: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.community {
  background-image: url(./components/images/img-4.jpg);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  padding-top: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile {
  background-image: url(./components/images/img-5.jpg);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  padding-top: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.help {
  background-image: url(./components/images/img-6.jpg);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;

  background-repeat: no-repeat;
  background-size: cover;
}

.register {
  background-image: url(./components/images/img-9.jpg);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;

  background-repeat: no-repeat;
  background-size: cover;
}

.login {
  background-image: url(./components/images/img-10.jpg);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;

  background-repeat: no-repeat;
  background-size: cover;
}
